name: release
on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '!src/.editorconfig'
jobs:
  build-extension:
    runs-on: windows-latest
    env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: true
        RepositoryUrl: 'https://github.com/${{ github.repository }}'
        RepositoryBranch: '${{ github.ref }}'
        SourceRevisionId: '${{ github.sha }}'
        Configuration: Release
        SolutionPath: ./src/ScriptRunner/ScriptRunner.sln
        Deterministic: true
        PackageReleaseNotes: 'https://github.com/${{ github.repository }}/releases'
        ContinuousIntegrationBuild: true
    steps:
    - uses: actions/checkout@v4
    - name: Set version
      shell: pwsh
      run: |
        $year = Get-Date -Format "yyyy"
        $month = (Get-Date -Format "MM").TrimStart('0')
        $version = "$year.$month.${{ github.run_number }}"
        echo "Version=$version" >> $env:GITHUB_ENV
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    - name: Restore dependencies
      run: |
        dotnet nuget locals all --clear
        dotnet restore $env:SolutionPath
    - name: Build extension
      shell: pwsh
      run: |
        New-Item -ItemType Directory -Name dist
        dotnet build $env:SolutionPath
        Copy-Item -Path src\ScriptRunner\ScriptRunner.GUI\bin\Release\ScriptRunnerGUI.${{ env.Version }}.nupkg -Destination ./dist/
        dotnet publish src\ScriptRunner\ScriptRunner.GUI\ScriptRunner.GUI.csproj -r win-x64 -p:PublishSingleFile=true --self-contained true -p:PublishReadyToRun=true -p:SkipInstallerBuild=true  -p:EnableCompressionInSingleFile=true  -p:IncludeNativeLibrariesForSelfExtract=true -p:PackAsTool=false
    - name: Generate release note
      run: |
        git fetch --prune
        $commitLog = git log "$(git describe --tags --abbrev=0)..HEAD" --pretty=format:"- %s"
        $commitLog = if([string]::IsNullOrWhitespace($commitLog)){git log --pretty=format:"- %s"}else{$commitLog}
        "What's new: `r`n`r`n$([string]::Join("`r`n",$commitLog))" | Out-File release_note.md -Encoding utf8
    - name: Compress artifacts
      run: Compress-Archive -Path .\src\ScriptRunner\ScriptRunner.GUI\bin\Release\net8.0\win-x64\publish\* -DestinationPath ScriptRunner.win-x64.${{ env.Version }}.zip
    - name: Create Github Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.Version }}
        release_name:  ${{ env.Version }}
        body_path: release_note.md
        draft: false
        prerelease: false
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ScriptRunner.win-x64.${{ env.Version }}.zip
        asset_name: ScriptRunner.win-x64.${{ env.Version }}.zip
        asset_content_type: binary/octet-stream
    - name: Publish extension to Nuget
      run: |
        dotnet nuget push dist\ScriptRunnerGUI.${{ env.Version }}.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
